<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/coverhead %>
</head>
  <body cz-shortcut-listen="true">
    <%- include ../partials/coverbody %>
    <%- include ../partials/coverfooter %>
</body>
